<div class="container-fluid">
    <div class = "row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h5>ACTIVITIES CHARTING DATA FOR PATIENT {{ patientID }}</h5>
        </div>
        <div class="col-sm"></div>
    </div>
</div>


<div class="container-fluid">
    <div class = "row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label class="col-form-label">PatientID</label>
                    <input class="form-control" type="text" name="patientID" [(ngModel)]="patientID" required>
                </div>
            </form>
            <button type="button" class="btn btn-primary mr-2" role="button" (click)="onEnterID(patientID)">GET</button>

        </div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container-fluid">
        <div class = "row">
            <div class="col-sm"></div>
            <div class="col-sm">
                
                    <div>
                            <canvas baseChart 
                            [data]="pieChartData" 
                            [labels]="pieChartLabels" 
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend"
                            [colors]="pieChartColors"
                            >
                          </canvas>
                        </div>    

            </div>
            <div class="col-sm"></div>
        </div>
    </div>